<div class="jumbotron" ng-controller="emailCtrl">
    <div class="row">
        <h3>Create new E-mail:</h3>
        <form name="createEmail" ng-submit="submitForm(createEmail.$valid)" novalidate>
            <div class="col-md-6">
                <!-- TITLE -->
                <div class="form-group" ng-class="{ 'has-error' : createEmail.title.$invalid && !createEmail.title.$pristine }">
                    <label>Title:</label>
                    <input type="text" name="title" class="form-control" ng-model="title" required>
                    <p ng-show="createEmail.title.$invalid && !createEmail.title.$pristine" class="help-block">The title is required.</p>
                </div>
                <!-- Receivers -->
                <div class="row">
                    <div class="col-md-12">
                        <label>To:</label>
                        <table class="table">
                            <tr class="active" popover="Remove the e-mail" popover-trigger="mouseenter" ng-repeat="receiver in receivers" ng-click="remove($index)">
                                <td>{{receiver}}</td>
                            </tr>
                            <p ng-show="receivers.length <= 0" class="help-block">You have to add at least one receiver.</p>
                        </table>
                    </div>
                </div>
                <!-- MESSAGE-->
                <div class="form-group" ng-class="{ 'has-error' : createEmail.msg.$invalid && !createEmail.msg.$pristine }">
                    <label>Message:</label>
                    <textarea class="form-control" rows="6" name="msg" class="form-control" ng-model="msg" ng-minlength="20" ng-maxlength="250" required></textarea>
                    <p ng-show="createEmail.msg.$error.minlength" class="help-block">Message is too short.</p>
                    <p ng-show="createEmail.msg.$error.maxlength" class="help-block">Message is too long.</p>
                    <p ng-show="createEmail.msg.$invalid && !createEmail.username.$pristine" class="help-block">Message is required.</p>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="receivers.length <= 0 || msg.length <= 0 || createEmail.$invalid">Submit</button>
            </div>
            <div class="col-md-6">
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : createEmail.email.$invalid && createEmail.email.$dirty }">
                    <label>E-mail:</label>
                    <input type="email" name="email" class="form-control" ng-model="email">
                    <p ng-show="createEmail.email.$invalid && createEmail.email.$dirty" class="help-block">Enter a valid email.</p>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="email <= 0 || createEmail.email.$pristine || createEmail.email.$dirty && createEmail.email.$invalid" ng-click="addReceiver(email)">Add Receiver</button>
            </div>
        </form>
    </div>
</div>